body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
    padding:15px;
    
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #FFD700;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }


body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    padding-top: 0px;
  padding-bottom: 20px;
}
  

.carousel-caption{
    color: #FFD700 !important;
    font-size: 30px;
}

  .navbar {
    margin-bottom: 20px;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 89% !important;
    margin-bottom: 0;
}

.btn-bg {
    color: #fff;
    background-color: #254050;
    border-color: #2e6da4;
}

.footer-bg {
    background-color: #254050;
    
}

#navbar{
    background-color: #254050 !important;
}